.ad-container {
    width: 150px;
    height: auto;

}

.light-false {
    border: solid black 2px;
    background-color: white;
    color: black;
}

.dark-true {
    border: solid white 2px;
    background-color: black;
    color: white;
}

.light {
    border: solid black 2px;
    background-color: white;
    color: black;
}

.dark {
    border: solid white 2px;
    background-color: black;
    color: white;  
}