.ad-container {
    width: 224px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light {
    border: solid #222 2px;
    background-color: #fff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.dark {
    border: solid #fff 2px;
    background-color: #222;
    color: #fff;  
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.flavor-text {
    width: 100%;
    height: 75px;
    text-align: center;
    margin: 0;
}

.font-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
   

}

.font-box {
    margin: 0px 5px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h5 {
    margin: 10px 5px;
}